anyio==3.7.1
asgiref==3.7.2
certifi==2023.5.7
dataclasses==0.6
Django
django-cors-headers
django-environ==0.10.0
djangorestframework==3.14.0
djongo==1.3.6
dnspython
gunicorn
h11==0.14.0
httpcore==0.17.3
idna==3.4
packaging==23.1
pymongo==3.12.3
pytz
sniffio==1.3.0
sqlparse
tzdata==2023.3
